
@media screen and (max-width:365px) {
    .heading {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .header-img {
        display: flex;
        flex-direction: column;
    }
    li {
        list-style-type: none;
        padding: 0;
        display: flex;
        align-items: center;
        margin: .75em 0;
    }
}