body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alert-info {
    display: flex;
     background-color: lightblue;
     width: 100%;
    justify-content: center;
     border: solid lightgray;
 }
.alert-info a {
    text-decoration: none;
}

.header-img {
    display: flex;
    flex-direction: column;
    height:80%;
    width:90%;
}
.nav-links {
    list-style: none;
     display: flex;
     flex-direction: column;
     padding: 0;
     margin: 0;
 }
.nav-links li {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
    height: 4em;
    /*margin: .75em 0;*/
    background-color: lightgrey;
}
.nav-links a {
    margin: auto;
}
/*    padding: .75em 7em;*/
/*}*/
/*.nav {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


@media screen and (min-width:700px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;

    }
    .alert-info {
        display: none;
    }
    .header{
        display: flex;
        flex-direction: row;
    }
    .header h1 {

        margin-right: 100%;
    }
    .header ul {
        justify-self: end;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    li {
        padding: 0;
        margin: 0;
        background: none;
    }
    .main {
        flex-basis: 50%;
    }
    .sub-section {
        flex-basis: 50%;
    }
    section p {
        padding-right: 2em;
    }
}
/*git pull is easy!*/